<!DOCTYPE html>
<html lang="ru" ng-app="myApp">
<head>
         <meta content="гинеколог, гинеколог хирург, миома, киста яичника, бесплодие, эндометриоз, Даир Тельманович, опущение матки, операции гинекология, Сейсембеков, лучшие гинекологи, гинеколог астана, гинеколог нур-султан" name="keywords">
         <meta name="viewport" content="width=device-width, initial-scale=1">
	     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
         <link href="css/bootstrap.min.css" rel="stylesheet">
         <link href="css/font-awesome.min.css" rel="stylesheet">
         <link href="css/style.css" rel="stylesheet">
         <link href="css/angular-toastr.css" rel="stylesheet" type="text/css">
         <script src="js/jquery.min.js"></script>
         <script src="js/popper.min.js"></script>
         <script src="js/bootstrap.min.js"></script>
         <script src="js/angular.min.js"></script>
         <script src="js/angular-route.js"></script>
         <script src="js/app.js"></script>
         <script type="text/javascript" src="js/angular-toastr.tpls.min.js"></script>
	      <script type="text/javascript" src="js/angular-recaptcha.min.js"></script>
         <script src='https://www.google.com/recaptcha/api.js'></script>
         
   
</head>

<body>
    <ul class="nav justify-content-end bg-light lighten-2 py-2">
        <li class="nav-item">
            <a class="ml-4 phone" href="https://wa.me/77017362706" target="_blank"><i class="fa fa-whatsapp type-whatsapp"></i></a>
            <a class="text-dark mr-4 phone" href="tel:+77017362706"><i class="fa fa-phone-square"></i><strong> +7 701 736 27 06</strong></a>
        </li>
        <li class="nav-item">
            <a class="text-dark mx-4 phone" href="tel:+77057533601"> <i class="fa fa-phone-square"></i><strong>+7 705 753 36 01</strong></a>
        </li>
        <a href="#!/consultationemail"  class="btn btn-success mx-4" role="button" aria-pressed="true" data-toggle="collapse" data-target=".navbar-collapse.show">Консультация по e-mail</a>
    </ul>

    <nav class="navbar navbar-expand-lg navbar-custom">
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon custom-toggler"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#!/main" data-toggle="collapse" data-target=".navbar-collapse.show">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/aboutdoctor" data-toggle="collapse" data-target=".navbar-collapse.show">О докторе</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/reviews" data-toggle="collapse" data-target=".navbar-collapse.show">Отзывы пациентов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/clinic" data-toggle="collapse" data-target=".navbar-collapse.show">О клинике</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/forpatient" data-toggle="collapse" data-target=".navbar-collapse.show">Пациенту</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/contacts" data-toggle="collapse" data-target=".navbar-collapse.show">Контакты</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" ng-view>
    </div>

    <div class="footer">
        <a href="https://wa.me/77017362706" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i></a>
    </div>

    <footer class="col-md-12 bg-light border-top pt-4" style="margin-top:40px;">
        <h5 class="text-uppercase text-center">Задать вопросы или записаться на консультацию</h5>
        <div class="row">
                <div class="col-md-4 text-center py-2">
                    <span>по телефонам:</span>
                    <h5 title="Запись на консультацию" tooltip="Запись на консультацию">
                        <a href="https://wa.me/77017362706" target="_blank">
                           <i class="fa fa-whatsapp type-whatsapp"></i></a>
                        <a class="text-dark" href="tel:+77017362706"><i class="fa fa-phone-square"></i>+7 701 736 27 06</a>
                    </h5>
                    <h5 title="Запись на консультацию" tooltip="Запись на консультацию">
                        <a class="text-dark" href="tel:+77057533601"><i class="fa fa-phone-square"></i>+7 705 753 36 01</a>
                    </h5>
                </div>
                <div class="col-md-4 text-center py-3">
                    <a href="mailto:nomad20152016@gmail.com?subject=Sent from gynecologykz.com" class="btn btn-outline-dark" role="button" aria-pressed="true">Консультация по e-mail</a>
                </div>
                <div class="col-md-4 text-center py-2">
                    <ul class="list-unstyled">
                        <li>
                          <a ng-click="scroll()" class="text-secondary" href="#!/aboutdoctor">О докторе</a>
                        </li>
                        <li>
                          <a ng-click="scroll()" class="text-secondary" href="#!/reviews">Отзывы пациентов</a>
                        </li>
                        <li>
                          <a ng-click="scroll()" class="text-secondary" href="#!/forpatient">Пациенту</a>
                        </li>
                        <li>
                          <a ng-click="scroll()" class="text-secondary" href="#!/clinic">О клинике</a>
                        </li>
                      </ul>          
                </div>
        </div>
        <div class="footer">
            <a href="https://wa.me/77017362706" class="float" target="_blank">
             <i class="fa fa-whatsapp my-float"></i></a>
        </div>
    </footer>
    <div class="footer-copyright text-center bg-footer py-3">© 2019 Copyright:
        <a href="https://gynecologykz.com"> gynecologykz.com</a>
    </div>
</body>
</html>
