<div class="col-md-12 headline text-center distance">
    <h5>Врач акушер-гинеколог, кандидат медицинских наук, высшая категория</h5>
</div>

<div class="card distance">
    <div class="card-header inscription">
        <h5>Академическое образование</h5>
    </div>
    <div class="card-body">
        <p class="card-text">1. 1998 г. – выпускник Карагандинской государственной медицинской академии</p>
        <p class="card-text">2. 1998-2001 гг. – очная аспирантура по специальности «акушерство и гинекология» при Республиканском Научно-исследовательском Центре Охраны здоровья Матери и ребенка, Алматы</p>
    </div>
</div>

<div class="card distance">
    <div class="card-header inscription">
        <h5>Специализация</h5>
    </div>
    <div class="card-body">
        <p class="card-text">1. 2003 г. – специализация по методам эндоскопии в гинекологии при Республиканском Научно-исследовательском Центре Охраны здоровья Матери и ребенка, Алматы</p>
        <p class="card-text">2. 2003 г. – специализация по актуальным вопросам в акушерстве и гинекологии при факультете усовершенствования врачей АкмолГМА</p>
        <p class="card-text">3. 2008 г. – специализация по современным проблемам акушерства и гинекологии при кафедре акушерства и гинекологии Московском государственном медико-стоматологическом Университете, Москва</p>
        <p class="card-text">4. 2009 г. - An International training ”The implementation of Good Clinical Practice standards: International framework, Aстана</p>
        <p class="card-text">5. 2010 г. – мастер-класс по хирургии тазового дна «Exchange» by International Urogynecological Association, Aстана</p>
        <p class="card-text">6. 2010 г. – мастер-класс по хирургии матки, международный центр эндоскопической хирургии при Научном Центре Материнства и детства, Астана</p>
        <p class="card-text">7. 2011 г. – Зальцбургские семинары Корнелла в акушерстве и гинекологии (Medical university of Vienna and Weill Cornell Medical College), Австрия</p>
        <p class="card-text">8. 2011 г. - Технические достижения в эндоскопической гинекологии (Centre International de Chirurgie Endoscopique), Франция </p>
        <p class="card-text">9. 2012 г. - Современные методы диагноcтики и оперативного лечения онкологичеcких заболеваний (The Catholic University of Korea, Seoul St. Mary’s Hospital), Южная Корея</p>
        <p class="card-text">10. 2012 г. - специализация по онкологии при кафедре онкологии на факультете усовершенствования врачей МУА, Астана</p>
        <p class="card-text">11. 2016 г. – специализация по эндокринной гинекологии при кафедре акушерства и гинекологии на факультете усовершенствования врачей МУА, Астана</p>
        <p class="card-text">12. 2017 г. - специализация по гинекологической онкологии и минимально инвазивной хирургии при Католическом университете Святого Сердца Поликлиники Джемелли, Италия</p>
    </div>
</div>

<div class="card distance">
    <div class="card-header inscription">
        <h5>Членство в ассоциациях</h5>
    </div>
    <div class="card-body">
        <p class="card-text">1. Общероссийская общественная организация «Общество репродуктивной медицины и хирургии»</p>
        <p class="card-text">2. Российское общество гинекологов-эндоскопистов</p>
        <p class="card-text">3. Российская ассоциация эндометриоза</p>
        <p class="card-text">4. Общество эндоскопических хирургов Казахстана</p>
        <p class="card-text">5. Международная ассоциация урогинекологов (IUGA)</p>
        <p class="card-text">6. Международное общество гинекологической эндокринологии (ISGE)</p>
        <p class="card-text">7. Европейское общество гинекологов (ESG)</p>
    </div>
</div>

<div class="card distance">
    <div class="card-header inscription">
        <h5>Опыт работы</h5>
    </div>
    <div class="card-body">
        <p class="card-text">1. 1998-2001 гг. – очная аспирантура по специальности «акушерство и гинекология» при Республиканском научно-исследовательском центре охраны здоровья матери и ребенка</p>
        <p class="card-text">2. 2001-2002 гг. – работа акушером-гинекологом ТОО «Жанашыр»</p>
        <p class="card-text">3. 2003-2004 гг. – работа врачом-ординатором родильного дома Целиноградской региональной клинической больницы</p>
        <p class="card-text">4. 2004–2007 гг. – научный сотрудник отделения гинекологии Национального научного медицинского центра, руководитель научной темы отделения, секретарь проблемной комиссии ННМЦ</p>
        <p class="card-text">5. 2007-2010 гг. – докторантура в Научном центре акушерства, гинекологии и перинатологии им. В.И. Кулакова</p>
        <p class="card-text">6. Март 2010 г. – апрель 2011 г. – старший научный сотрудник отделения гинекологии АО ННМЦ</p>
        <p class="card-text">7. Апрель 2011 г. – по настоящее время врач-гинеколог Больницы Медицинского Центра Управления Делами Президента Республики Казахстан</p>
    </div>
</div>
