
<div class="card bg-light distance">
    <div class="card-body">
<p>При проведении оперативных вмешательств мы используем все основные виды анестезии.</p>
<p>Местная анестезия, при которой происходит обезболивание непосредственно места вмешательства, используется при небольших открытых операциях.</p>
<p>Эпидуральная анестезия, приводящая к обезболиванию нижней половины тела, проводится в тех случаях, когда необходим контакт врача и пациента. Этот вид анестезии возможен при больших открытых операциях на органах малого таза.</p>
<p>Общая анестезия, при которой пациент погружается в глубокий сон, применяется при всех гистероскопических и лапароскопических операциях.</p>
<p>Самый часто используемый вид анестезии — общая многокомпонентная анестезия с искусственной вентиляцией легких. Этот вид анестезии обеспечивает отличные условия проведения операции врачу-хирургу, сводит к минимуму потерю крови в ходе операции, создает пациенту идеальный психо-эмоциональный настрой до и после вмешательства.</p>
<p>Перед операцией врач-анестезиолог осматривает пациента, проводит дополнительное физикальное исследование, знакомится с данными обследования и анализами, выбирает оптимальный для конкретного больного вид и дозировку анестетиков.</p>
<p>В ходе операции используется превосходный наркозно-дыхательный аппарат экспертного класса. Надежная и информативная следящая аппаратура контролирует глубину наркоза по параметрам дыхания и гемодинамики.
</p>
Для интенсивного лечения в клинике всегда готова палата реанимации с аппаратом искусственной вентиляции и следящей аппаратурой. Вывод из наркоза осуществляется под контролем параметров дыхания, гемодинамики и функции центральной нервной системы.
</div>
</div>