<form>
    <div class="card bg-light distance col-md-12">
        <div class="card-body">
            Мне важны все пациенты, но поскольку я провожу большую часть своего времени на приеме или в операционной, не всегда могу оперативно дать ответ по e-mail. Прошу отнестись с пониманием – на ваш вопрос я могу дать ответ в течение 2-3 дней.
        </div>
    </div>
    <div class="form-group col-md-6 mt-3">
        <label>Как вас зовут?</label>
        <input ng-model="patient.name" type="text" class="form-control" placeholder="Имя">
    </div>
    <div class="form-group col-md-6">
        <label>Ваш e-mail:</label>
        <input ng-model="patient.email1" type="email" class="form-control" placeholder="e-mail">
    </div>
    <div class="form-group col-md-6">
        <label>Пожалуйста, повторите указанный email:</label>
        <input ng-model="patient.email2" type="email" class="form-control" placeholder="e-mail">
    </div>
    <div class="form-group col-md-6">
        <label>Ваш город:</label>
        <input ng-model="patient.city" type="text" class="form-control" placeholder="Город">
    </div>
    <div class="form-group col-md-12">
        <label>Ваши жалобы:</label>
        <textarea ng-model="patient.text" class="form-control" rows="6" placeholder="Ваш текст"></textarea>
    </div>
    <div class="row mx-1">
    <div class="form-group col-md-12">
        <button ng-show="!submited" ng-click="submit()" class="btn btn-primary float-right">Отправить</button>
        <button ng-show="submited" class="btn btn-primary float-right" disabled>Отправляется&nbsp;&nbsp;    
        <i class="fa fa-hourglass-half hourglass-animate"></i>
    </div>
</div>
</form>