<div class="card bg-light distance">
    <div class="card-body" style="background:transparent url('img/bg1.jpg') no-repeat center center /cover">
        <div class="row">
                
                <div class="col-md-6">
                        <span class="d-block p-1 font-weight-bold text-dark">
                        <p>Гинекология — медицинская дисциплина, предметом которой является здоровье женской репродуктивной системы.Почти все современные гинекологи также имеют специализацию «акушерство». Акушерство — это область изучения и практики ведения беременности, родов и послеродового периода.</p>
                        <p>Современные гинекологи исследуют и лечат такие заболевания репродуктивной системы женщин, как аменорея, бесплодие, дисменорея, инфекции репродуктивных органов, рак и предраковые болезни матки, яичников, маточных труб, шейки матки, влагалища, вульвы и др.</p>
                        </span>
                     </div>
                     <div class="col-md-6">
                            <img src="img/medical.jpg" alt="..." class="img-fluid">
                         </div>
            
            
        </div>
    </div>
</div>


<div class="col-md-12 distance">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Операции и медицинские консультации</th>
            </tr>
        </thead>
        <tbody>
           <!-- <tr ng-repeat="type in typesworks">
                <td> <a class="text-dark" href="#!/listanalyzes"></a></td>
            </tr> -->
        </tbody>
    </table>
</div>
<div class="col-md-12">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Информация для пациентов</th>
            </tr>
        </thead>
        <tbody>
            <!--<tr ng-repeat="info in forpatients">
                <td> <a class="text-dark" ng-click="scroll()" ng-href="{{info.patch}}">{{info.name}}</a></td>
            </tr>-->
        </tbody>
    </table>
</div>
</div>
