<style type="text/css">
   .container {
    background: #F5F5F5;
    padding: 30px;
    margin: 20px auto 15px auto;
    overflow: hidden;
    box-shadow: 0 0 100px #ccc;
    border: 1px solid #d2d2d2;
}
   </style>

<form>
        <div class="form-group row">
                <div class="col-md-6 py-2">
                <label for="exampleFormControlTextarea1">Наименование товара (услуги)</label>
                <textarea ng-model="event.text" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
              </div>
              <div class="col-md-3 py-2">
                    <label for="example-number-input">Цена, тенге</label>
                      <input ng-model="event.price" class="form-control" type="number" step="0.01" min="0" id="example-number-input">
                  </div>
                  <div class="col-md-3 py-2">
                    <label for="example-date-input">Дата покупки</label>
                      <input ng-model="event.dateinput" class="form-control" type="date" id="example-date-input">
                  </div>
            </div>
            <div class="input-group mb-3 col-md-6">
              <input type="file" id="fileUpload" style="display: none;" multiple/>
              <button class="btn btn-info" onclick="$('input[type=file]').click()">
                <i class="fa fa-paperclip"></i>Добавить файл</button>
            </div>
            <div class="form-group col-md-12">
              <table>
                <tr ng-repeat="file in files">
                  <td>{{file.name}}</td>
                  <td>
                    <i class="fa fa-trash text-danger" ng-click="removeFile(file, $index)"></i>
                  </td>
                  <td>
                    <i ng-if="file.uploaded" class="fa fa-check text-success"></i>
                    <span ng-if="!file.uploaded && !file.uploadError">{{file.loaded/file.size*100 | number:0}}%</span>
                    <span ng-if="file.uploadError" class="text-warning">ошибка загрузки файла</span>
                  </td>
                </tr>
              </table>
            </div>
      
      <input ng-click="submit()" class="btn btn-success float-right" type="submit" value="Отправить">
    </form>
    